<!DOCTYPE html>
<html class="no-js" lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate icon" type="image/png" th:href="@{../../../images/logo/favicon.png}">
    <link rel="stylesheet" href="layui/css/layui.css" th:href="@{../../../layui/css/layui.css}">
    <link rel="stylesheet" href="css/admin.css" th:href="@{../../../css/admin.css}">
    <style type="text/css">
        .toolbar {
            border: 1px solid #ccc;
        }

        .text {
            border: 1px solid #ccc;
            min-height: 400px;
        }
    </style>
    <title>管理后台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head> <!-- enterPriseinFormation -->
<body class="frame-body">
		<div class="layui-col-xs3" style="text-align: center">
			<div>
				<img id="logo" src=""
					th:src="${#strings.isEmpty(enterPriseinFormation.logo)?'/images/bg_upload.jpg':enterPriseinFormation.logo}"
					width="160px" height="160px">
			</div>
			<div style="padding: 5px">
				<button class="layui-btn layui-btn-xs" id="uploadImg">上传主图1</button>
			</div>
			<div>
				<small style="color: #FF5722">请上传像素为96×48</small>
			</div>
		</div>
		
		<div class="layui-col-xs3" style="text-align: center">
			<div>
				<img id="logotwo" src=""
					th:src="${#strings.isEmpty(enterPriseinFormation.logotwo)?'/images/bg_upload.jpg':enterPriseinFormation.logotwo}"
					width="160px" height="160px">
			</div>
			<div style="padding: 5px">
				<button class="layui-btn layui-btn-xs" id="uploadImgtwo">上传主图2</button>
			</div>
			<div>
				<small style="color: #FF5722">请上传像素为96×48</small>
			</div>
		</div>
<form class="layui-form">
    
    <div class="layui-form-item">
        <input type="hidden" name="id" th:value="${enterPriseinFormation.id}" id="id">
        <label class="layui-form-label">浏览器标题</label>
        <div class="layui-input-block">
            <input type="text" name="browserTitle" required lay-verify="required" placeholder="请输入标题"
                   th:value="${enterPriseinFormation.browserTitle}" autocomplete="off" class="layui-input" id="browserTitle">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">副标题</label>
        <div class="layui-input-block">
            <input type="text" name="subHeading" required lay-verify="required" placeholder="请输入副标题"
                   th:value="${enterPriseinFormation.subHeading}" autocomplete="off" class="layui-input" id="subHeading">
        </div>
    </div>
    
    <div class="layui-form-item">
        <label class="layui-form-label">服务热线</label>
        <div class="layui-input-block">
            <input type="text" name="serviceRe" required lay-verify="required" placeholder="请输入服务热线"
                   th:value="${enterPriseinFormation.serviceRe}" autocomplete="off" class="layui-input" id="serviceRe">
        </div>
    </div>
    
    <div class="layui-form-item">
        <label class="layui-form-label">底部服务热线</label>
        <div class="layui-input-block">
            <input type="text" name="bottomServiceHotline" required lay-verify="required" placeholder="请输入底部服务热线"
                   th:value="${enterPriseinFormation.bottomServiceHotline}" autocomplete="off" class="layui-input" id="bottomServiceHotline">
        </div>
    </div>
    
    
    <div class="layui-form-item">
        <label class="layui-form-label">公司地址</label>
        <div class="layui-input-block">
            <input type="text" name="companyaddress" required lay-verify="required" placeholder="请输入公司地址"
                   th:value="${enterPriseinFormation.companyaddress}" autocomplete="off" class="layui-input" id="companyaddress">
        </div>
    </div>
    
    
    <div class="layui-form-item">
        <label class="layui-form-label">公司邮箱</label>
        <div class="layui-input-block">
            <input type="text" name="companyEmail" required lay-verify="required" placeholder="请输入公司邮箱"
                   th:value="${enterPriseinFormation.companyEmail}" autocomplete="off" class="layui-input" id="companyEmail">
        </div>
    </div>

    
    <div class="layui-form-item">
        <div class="layui-input-block">
            <a  href="javascript:void(0);"  class="layui-btn" id="submitenter" >确定修改</a>
        </div>
    </div>
    
</form>

<div style="padding: 5px 0; color: #ccc"></div>


<script type="text/javascript" th:src="@{../../../js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{../../../layui/layui.js}" src="layui/layui.js"></script>
<script type="text/javascript" th:src="@{../../../js/main.js}"></script>
<script type="text/javascript" th:src="@{../../../js/wangEditor.js}"></script>
<script type="text/javascript">

layui.use(['layer', 'upload', 'form'], function () {
    var layer = layui.layer, form = layui.form, upload = layui.upload, $ = layui.$;

    
    var uploadInst = upload.render({
	    elem: '#uploadImg'
	    , url: "/management/Enter/uploadProductImgFirst"
	    , before: function (obj) {
	        layer.load();
	    }
	    , done: function (res) {
	        layer.closeAll('loading');
	        layer.msg(res.msg);
	        if (res.code === 0) {
	            $('#logo').attr('src', res.data);
	           
	        }
	    }
	    , error: function () {
	        layer.closeAll('loading');
	        layer.msg("上传失败")
	    }
	});
    
    
    var uploadInst = upload.render({
	    elem: '#uploadImgtwo'
	    , url: "/management/Enter/uploadProductImgFirst"
	    , before: function (obj) {
	        layer.load();
	    }
	    , done: function (res) {
	        layer.closeAll('loading');
	        layer.msg(res.msg);
	        if (res.code === 0) {
	            $('#logotwo').attr('src', res.data);
	           
	        }
	    }
	    , error: function () {
	        layer.closeAll('loading');
	        layer.msg("上传失败")
	    }
	});
    
});

$("#submitenter").click(function () {
    $.ajax({
        url: '/management/Enter/edit/save',
        type: 'POST',
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify({
            "id": $('#id').val(),
            "browserTitle": $('#browserTitle').val(),
            "subHeading": $('#subHeading').val(),
            "serviceRe": $('#serviceRe').val(),
            "bottomServiceHotline": $('#bottomServiceHotline').val(),
            "companyaddress": $('#companyaddress').val(),
            "companyEmail": $('#companyEmail').val(),
            "logo":$("#logo").attr('src'),
            "logotwo":$("#logotwo").attr('src')
            
        }),
        success: function (data) {
            if (data.success) {
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index); //再执行关闭
                parent.layui.table.reload("newsTable");
                parent.layer.msg(data.message);
            } else {
                layer.msg(data.message);
            }
        },
        error: function () {
            layer.msg("异常!未能成功提交!");
        }
    })
});

</script>

</body>
</html>