<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>深圳市联合蓝海黄金材料科技股份有限公司</title>
    <meta name="description"
          content="深圳市联合蓝海黄金材料科技股份有限公司是深圳市联合蓝海投资控股集团的下属企业，成立于2010年5月25日，是一家专注于无氰环保镀金工艺技术的研发、服务、推广应用及智能制造技术研发的国家级高新技术企业。">
    <meta name="keywords" content="硬金,联合蓝海,硬金加工,无氰镀金,镀金液,无氰电镀">
    <link rel="alternate icon" type="image/png" th:href="@{../images/logo/favicon.png}">
    <!--<link rel="stylesheet" th:href="@{../css/bootstrap.css}">-->
    <link rel="stylesheet" th:href="@{../css/all.min.css}">
    <link rel="stylesheet" th:href="@{../css/mobile.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?4a7713e9a04e10d070e0ad1f80cdee9d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<nav class="text-center m-head">
    <div class="m-head-phone">
        <a href="tel:4009318081">
            <i class="fas fa-phone-square"></i>
            <span>全国服务电话:<b>400-931-8081</b></span>
        </a>
    </div>
    <div class="m-head-title">
        <img src="../images/m/LOGO.png" alt="联合蓝海" width="90"/>
        <b>全球无氰镀金技术领军企业</b>
    </div>
</nav>
<div>
    <img src="../images/m/honor.jpg" class="img-responsive m-banner" alt="honor.jpg">
</div>
<div>
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active">资质证书</li>
    </ol>
    <div class="text-center" style="padding: 1px 10px 20px 10px">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <!--            <div class="btn-group btn-group-sm" role="group">-->
            <!--                <button class="btn btn-primary" style="background-color: #00A1E9;border-color: #0073d6" type="button"-->
            <!--                        onclick="toggleview('zlzs')">专利证书-->
            <!--                </button>-->
            <!--            </div>-->
            <div class="btn-group btn-group-sm" role="group">
                <button class="btn btn-primary" style="background-color: #00A1E9;border-color: #0073d6" type="button"
                        onclick="toggleview('jcbg')">检测报告
                </button>
            </div>
            <div class="btn-group btn-group-sm" role="group">
                <button class="btn btn-primary" style="background-color: #00A1E9;border-color: #0073d6" type="button"
                        onclick="toggleview('kjcg')">科技成果
                </button>
            </div>
            <div class="btn-group btn-group-sm" role="group">
                <button class="btn btn-primary" style="background-color: #00A1E9;border-color: #0073d6" type="button"
                        onclick="toggleview('ryzz')">荣誉资质
                </button>
            </div>
            <div class="btn-group btn-group-sm" role="group">
                <button class="btn btn-primary" style="background-color: #00A1E9;border-color: #0073d6" type="button"
                        onclick="toggleview('gltx')">管理体系
                </button>
            </div>
        </div>
        <hr style="margin-top: 10px;margin-bottom: 10px">
        <!--        <div id="zlzs" class="m-honor-min-height">-->
        <!--            <div>-->
        <!--                <img src="../images/patent/1/专利1：一种无氰电镀液及其应用.jpg" alt="一种无氰电镀液及其应用"-->
        <!--                     class="img-responsive img-rounded">-->
        <!--                <p>一种无氰电镀液及其应用</p>-->
        <!--            </div>-->
        <!--            <div>-->
        <!--                <img src="../images/patent/1/专利2：一种电镀黄金和硬质黄金的制备方法.jpg" alt="一种电镀黄金和硬质黄金的制备方法"-->
        <!--                     class="img-responsive img-rounded">-->
        <!--                <p>一种电镀黄金和硬质黄金的制备方法</p>-->
        <!--            </div>-->
        <!--            <div>-->
        <!--                <img src="../images/loading.gif" alt="一种硬化剂" class="img-responsive img-rounded"-->
        <!--                     data-original="../images/patent/1/专利3：一种硬化剂.jpg">-->
        <!--                <p>一种硬化剂</p>-->
        <!--            </div>-->
        <!--            <div>-->
        <!--                <img src="../images/loading.gif" alt="一种黄金饰品的制备方法" class="img-responsive img-rounded"-->
        <!--                     data-original="../images/patent/1/专利4：一种黄金饰品的制备方法.jpg">-->
        <!--                <p>一种黄金饰品的制备方法</p>-->
        <!--            </div>-->
        <!--            <div>-->
        <!--                <img src="../images/loading.gif" alt="改性无氰镀金液及其应用和硬质黄金的制备方法"-->
        <!--                     class="img-responsive img-rounded"-->
        <!--                     data-original="../images/patent/1/专利5：改性无氰镀金液及其应用和硬质黄金的制备方法.jpg">-->
        <!--                <p>改性无氰镀金液及其应用和硬质黄金的制备方法</p>-->
        <!--            </div>-->
        <!--            <div>-->
        <!--                <img src="../images/loading.gif" alt="一种无氰亚硫酸盐镀金液及其应用" class="img-responsive img-rounded"-->
        <!--                     data-original="../images/patent/1/专利6&#45;&#45;一种无氰亚硫酸盐镀金液及其应用.jpg">-->
        <!--                <p>一种无氰亚硫酸盐镀金液及其应用</p>-->
        <!--            </div>-->
        <!--            <div>-->
        <!--                <img src="../images/loading.gif" alt="一种黄金制品及其制备方法" class="img-responsive img-rounded"-->
        <!--                     data-original="../images/patent/1/专利7：一种黄金制品及其制备方法.jpg">-->
        <!--                <p>一种黄金制品及其制备方法</p>-->
        <!--            </div>-->
        <!--            <div>-->
        <!--                <img src="../images/loading.gif" alt="一种无氰镀金液及其制备方法&#45;&#45;国防专利" class="img-responsive img-rounded"-->
        <!--                     data-original="../images/patent/1/专利8：一种无氰镀金液及其制备方法&#45;&#45;国防专利.jpg">-->
        <!--                <p>一种无氰镀金液及其制备方法&#45;&#45;国防专利</p>-->
        <!--            </div>-->
        <!--            <div>-->
        <!--                <img src="../images/loading.gif" alt="国际专利-1" class="img-responsive img-rounded"-->
        <!--                     data-original="../images/patent/1/OSG48869UBN-36738-新加坡证书_39054.jpg">-->
        <!--                <p>国际专利-1</p>-->
        <!--            </div>-->
        <!--            <hr>-->
        <!--            <p style="padding-top: 5px;padding-bottom: 10px;">-->
        <!--                <a style="float: right;text-decoration-line: none" href="javascript:void(0);"-->
        <!--                   onclick="toggleview('jcbg')">检测报告→</a>-->
        <!--            </p>-->
        <!--        </div>-->
        <div id="jcbg" class="m-honor-min-height">
            <div>
                <img alt="EBO无氰镀金液检测-1" class="img-responsive img-rounded"
                     src="../images/patent/3/0001.jpg">
                <p>EBO无氰镀金液检测-1</p>
            </div>
            <div>
                <img alt="EBO无氰镀金液检测-2" class="img-responsive img-rounded"
                     src="../images/patent/3/0002.jpg">
                <p>EBO无氰镀金液检测-2</p>
            </div>
            <div>
                <img src="../images/loading.gif" alt="EBO无氰镀金液检测-3" class="img-responsive img-rounded"
                     data-original="../images/patent/3/0003.jpg">
                <p>EBO无氰镀金液检测-3</p>
            </div>
            <div>
                <img src="../images/loading.gif" alt="EBO无氰镀金液检测-4" class="img-responsive img-rounded"
                     data-original="../images/patent/3/0004.jpg">
                <p>EBO无氰镀金液检测-4</p>
            </div>
            <div>
                <img src="../images/loading.gif" alt="中科院无氰镀液检测" class="img-responsive img-rounded"
                     data-original="../images/patent/3/中科院无氰镀液检测-1.jpg">
                <p>中科院无氰镀液检测</p>
            </div>
            <div>
                <img src="../images/loading.gif" alt="中科院无氰镀液检测" class="img-responsive img-rounded"
                     data-original="../images/patent/3/中科院无氰镀液检测-2.jpg">
                <p>中科院无氰镀液检测</p>
            </div>
            <div>
                <img src="../images/loading.gif" alt="中科院有害物质检测" class="img-responsive img-rounded"
                     data-original="../images/patent/3/中科院有害物质检测-1.jpg">
                <p>中科院有害物质检测</p>
            </div>
            <div>
                <img src="../images/patent/3/中科院有害物质检测-2.jpg" alt="中科院有害物质检测" class="img-responsive img-rounded">
                <p>中科院有害物质检测</p>
            </div>
            <hr>
            <p style="padding-top: 5px;padding-bottom: 10px;">
                <!--                <a style="float: left;text-decoration-line: none" href="javascript:void(0);"-->
                <!--                   onclick="toggleview('zlzs')">←专利证书</a>-->
                <a style="float: right;text-decoration-line: none" href="javascript:void(0);"
                   onclick="toggleview('kjcg')">科技成果→</a>
            </p>
        </div>
        <div id="kjcg" class="m-honor-min-height hidden">
            <div style="min-height:250px ">
                <img src="../images/patent/5/2.jpg" alt="一种硬化剂"
                     class="img-responsive img-rounded">
                <p>一种硬化剂</p>
            </div>
            <div style="min-height:250px ">
                <img src="../images/patent/5/3.jpg" alt="一种改性无氰镀金液及其应用和硬质黄金的制备方法"
                     class="img-responsive img-rounded">
                <p>一种改性无氰镀金液及其应用和硬质黄金的制备方法</p>
            </div>
            <hr>
            <p style="padding-top: 5px;padding-bottom: 10px;">
                <a style="float: left;text-decoration-line: none" href="javascript:void(0);"
                   onclick="toggleview('jcbg')">←检测报告</a>
                <a style="float: right;text-decoration-line: none" href="javascript:void(0);"
                   onclick="toggleview('ryzz')">荣誉资质→</a>
            </p>
        </div>
        <div id="ryzz" class="m-honor-min-height hidden">
            <div style="min-height:250px ">
                <img src="../images/patent/5/001.jpg" alt="国家级高新技术企业"
                     class="img-responsive img-rounded">
                <p>国家级高新技术企业</p>
            </div>
            <div style="min-height:250px ">
                <img src="../images/patent/5/1.jpg" alt="深圳市高新技术企业"
                     class="img-responsive img-rounded">
                <p>深圳市高新技术企业</p>
            </div>
            <div style="min-height:250px ">
                <img src="../images/loading.gif" alt="深圳市科技进步奖"
                     data-original="../images/patent/5/4.jpg" class="img-responsive img-rounded">
                <p>深圳市科技进步奖</p>
            </div>
            <div style="min-height:250px ">
                <img src="../images/loading.gif" alt="环境保护科学技术奖"
                     class="img-responsive img-rounded" data-original="../images/patent/5/5.jpg">
                <p>环境保护科学技术奖</p>
            </div>
            <div>
                <img src="../images/loading.gif" alt="创新型企业"
                     class="img-responsive img-rounded" data-original="../images/patent/4/3.jpg">
                <p>创新型企业</p>
            </div>
            <div>
                <img src="../images/loading.gif" alt="2015年JNA年度创新企业-制造业-科技应用奖"
                     class="img-responsive img-rounded" data-original="../images/patent/4/4.jpg">
                <p>2015年JNA年度创新企业-制造业-科技应用奖</p>
            </div>
            <div>
                <img src="../images/loading.gif" alt="中国表面工程协会科学技术奖"
                     class="img-responsive img-rounded" data-original="../images/patent/4/7.jpg">
                <p>中国表面工程协会科学技术奖</p>
            </div>
            <div>
                <img src="../images/loading.gif" alt="中检溯源实地验证证书"
                     class="img-responsive img-rounded" data-original="../images/patent/4/8.jpg">
                <p>中检溯源实地验证证书</p>
            </div>
            <hr>
            <p style="padding-top: 5px;padding-bottom: 10px;">
                <a style="float: left;text-decoration-line: none" href="javascript:void(0);"
                   onclick="toggleview('kjcg')">←科技成果</a>
                <a style="float: right;text-decoration-line: none" href="javascript:void(0);"
                   onclick="toggleview('gltx')">管理体系→</a>
            </p>
        </div>
        <div id="gltx" class="m-honor-min-height hidden">
            <div>
                <img src="../images/patent/2/1.jpg" class="img-responsive img-rounded">
                <p>　</p>
            </div>
            <div>
                <img src="../images/patent/2/2.jpg" class="img-responsive img-rounded">
                <p>　</p>
            </div>
            <div>
                <img src="../images/loading.gif" class="img-responsive img-rounded"
                     data-original="../images/patent/2/3.jpg">
                <p>　</p>
            </div>
            <div>
                <img src="../images/loading.gif" class="img-responsive img-rounded"
                     data-original="../images/patent/2/4.jpg">
                <p>　</p>
            </div>
            <div>
                <img src="../images/loading.gif" class="img-responsive img-rounded"
                     data-original="../images/patent/2/5.jpg">
                <p>　</p>
            </div>
            <hr>
            <p style="padding-top: 5px;padding-bottom: 10px;">
                <a style="float: left;text-decoration-line: none" href="javascript:void(0);"
                   onclick="toggleview('ryzz')">←荣誉资质</a>
            </p>
        </div>
    </div>
</div>
<div style="padding: 10px 10px;background-color: #00a0ea;color: white" class="text-center">
    <p>
        <small>深圳市联合蓝海黄金材料科技股份有限公司　粤ICP备15105362号-1</small>
    </p>
    <p>
        <a href="tel:4009318081" style="color:white;text-decoration-line: none">
            <small>全国服务热线:400-931-8081／</small>
        </a>
        <a href="tel:83701111" style="color:white;text-decoration-line: none">
            <small>0755-83701111转882</small>
        </a>
    </p>
    <p>
        <small>公司地址:深圳市罗湖区水贝石化工业区3栋7楼</small>
    </p>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/jquery_lazyload/1.9.7/jquery.lazyload.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="../js/mobile.js"></script>
<script type="text/javascript">
    $(function () {
        $("img.img-rounded").lazyload({
            effect: "fadeIn"
        });
    })
</script>
</body>
</html>