<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>深圳市联合蓝海黄金材料科技股份有限公司</title>
    <meta name="description"
          content="深圳市联合蓝海黄金材料科技股份有限公司是深圳市联合蓝海投资控股集团的下属企业，成立于2010年5月25日，是一家专注于无氰环保镀金工艺技术的研发、服务、推广应用及智能制造技术研发的国家级高新技术企业。">
    <meta name="keywords" content="硬金,联合蓝海,硬金加工,无氰镀金,镀金液,无氰电镀">
    <link rel="alternate icon" type="image/png" th:href="@{../images/logo/favicon.png}">
    <!--<link rel="stylesheet" th:href="@{../css/bootstrap.css}">-->
    <link rel="stylesheet" th:href="@{../css/all.min.css}">
    <link rel="stylesheet" th:href="@{../css/mobile.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?4a7713e9a04e10d070e0ad1f80cdee9d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<nav class="text-center m-head">
    <div class="m-head-phone">
        <a href="tel:4009318081">
            <i class="fas fa-phone-square"></i>
            <span>全国服务电话:<b>400-931-8081</b></span>
        </a>
    </div>
    <div class="m-head-title">
        <img src="../images/m/LOGO.png" alt="联合蓝海" width="90"/>
        <b>全球无氰镀金技术领军企业</b>
    </div>
</nav>
<div>
    <img src="../images/m/news.jpg" class="img-responsive m-banner" alt="news.jpg">
</div>
<div>
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active">新闻中心</li>
    </ol>
    <article style="padding: 0 20px">
        <h4 th:text="${news.title}">新闻标题</h4>
        <p th:text="${#dates.format(news.createTime, 'yyyy-MM-dd')}" class="text-muted">时间</p>
        <div th:utext="${news.content}"></div>
    </article>
</div>
<div style="padding: 10px 10px;background-color: #00a0ea;color: white" class="text-center">
    <p>
        <small>深圳市联合蓝海黄金材料科技股份有限公司　粤ICP备15105362号-1</small>
    </p>
    <p>
        <a href="tel:4009318081" style="color:white;text-decoration-line: none">
            <small>全国服务热线:400-931-8081／</small>
        </a>
        <a href="tel:83701111" style="color:white;text-decoration-line: none">
            <small>0755-83701111转882</small>
        </a>
    </p>
    <p>
        <small>公司地址:深圳市罗湖区水贝石化工业区3栋7楼</small>
    </p>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</body>
</html>